[project]
	description = URDF parser
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paresh Sao (paresh-sao)
[access "refs/for/refs/*"]
	read = group user/Paresh Sao (paresh-sao)
	push = group user/Paresh Sao (paresh-sao)
	label-Code-Review = -2..+2 group user/Paresh Sao (paresh-sao)
	label-Verified = -1..+1 group user/Paresh Sao (paresh-sao)
	rebase = group user/Paresh Sao (paresh-sao)
	removeReviewer = group user/Paresh Sao (paresh-sao)
	submit = group user/Paresh Sao (paresh-sao)
[access "refs/heads/*"]
	read = group user/Paresh Sao (paresh-sao)
	create = group user/Paresh Sao (paresh-sao)
	push = +force group user/Paresh Sao (paresh-sao)
	pushMerge = group user/Paresh Sao (paresh-sao)
[access "refs/tags/*"]
	push = group user/Paresh Sao (paresh-sao)
	push = +force group user/Paresh Sao (paresh-sao)
